* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #111;
    color: #fff;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #000;
    position: fixed;
    width: 100%;
    top: 0;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.logo span {
    color: #0ef;
}
nav ul {
    list-style: none;
}
nav ul li {
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover {
    color: #0ef;
}

/* HOME */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
}
.home-content h1 {
    font-size: 40px;
}
.home-content span {
    color: #0ef;
}
.btn {
    background: #0ef;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}
.home-img img {
    width: 280px;
    border-radius: 50%;
    border: 5px solid #0ef;
    margin-left: 40px;
}

/* SECTIONS */
section {
    padding: 100px 10%;
    text-align: center;
}

.skill-box span {
    background: #222;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #0ef;
}

/* PROJECTS */
.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.project-card {
    width: 250px;
    background: #222;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #0ef;
}

/* CONTACT */
.contact a {
    color: #0ef;
    text-decoration: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #000;
    margin-top: 20px;
}
